html {
  background-color: rgb(15, 15, 15);
  color: white;
}

.app {
  font-family: "Futura";
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

nav {
  background-color: white;
  color: black;
  position: fixed;
  width: 100%;
}

.results {
  padding-top: 70px;
}

.line-1 {
  height: 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.line-2 {
  height: 20px;
  font-size: 0.9rem;
  font-style: italic;
}
